<h1>Блюда</h1>
<table id = "dish_list">
  <tr>
    <th><%= link_to "Название", sort_path %></th>

  </tr>

<%= render :partial => 'index'%>

</table>
 
<br />

<h3><%= link_to 'Добавить новое блюдо', new_dish_path %></h3>
