<h1>Кулинарная книга</h1>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>

 <%= image_tag("blyudo1.jpg")%>


</table>

<br />
<%= link_to 'Добавить новую категорию блюд   ', new_category_path %>|
<%= link_to '   Создать новое блюдо', new_dish_path %>


