<h1>Категории блюд</h1>

<table>

<% @categories.each do |category| %>
  <tr>
    <td><h3><%= link_to "#{category.name}  ", category %></h3></td>
    <td><h3><%= link_to "   блюдо в эту категорию", new_dish_path(:id => category)%></h3></td>
<% end %>
</table>

<br />

<h3><%= link_to 'Создать новую категорию блюд', new_category_path %></h3>


